[submodule "vendor/debugbreak"]
	path = vendor/debugbreak
	url = https://github.com/Harrand/debugbreak
[submodule "vendor/textc"]
	path = vendor/textc
	url = https://github.com/Harrand/textc
[submodule "vendor/tracy"]
	path = vendor/tracy
	url = https://github.com/wolfpld/tracy
[submodule "vendor/concurrentqueue"]
	path = vendor/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
